@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 5%;
    border-bottom: 3px solid #0d6efd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 12px;
}

.header-logo{
    display: flex;
    height: 40px;
}

.main-nav a {
    text-decoration: none;
    color: #0d6efd;
    margin-left: 15px;
    font-weight: bold;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-text h2 {
    margin: 0;
    font-size: 1.5em;
    color: #0d6efd;
    font-weight: normal;
    line-height: 1.2;
}

/* Main Content */
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intermunicipal-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.4em;
    color: #333;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin: 20px 0;
}

.intro h4 {
    text-align: left;
    line-height: 1;
    color: #555;
}

.intro p {
    text-align: left;
    line-height: 1.6;
    color: #555;
}

.intro p a {
    color: #0d6efd;
    text-decoration: none;
}

.intro ul{
    text-align: left;
    line-height: 1.6;
    color: #555;
}

.contact-info {
    text-align: left;
    margin-bottom: 40px;
    line-height: 1.6;
}


.link-btn {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #fff;
    color: #0d6efd;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.link-btn:hover {
    background-color: #e0e0e0;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card {
    border-radius: 25px;
    padding: 30px;
    color: #fff;
    flex: 1;
    text-align: center;
}

.solicitar {
    background-color: #0d6efd;
}

.consultar {
    background-color: #0d6efd;
}

.card h3 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
    font-size: 0.9em;
}

.action-btn {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #fff;
    color: #0d6efd;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
    background-color: #e0e0e0;
}

.consultar form {
    display: flex;
    flex-direction: column;
}

.consultar label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: bold;

}

.consultar input {
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    font-size: 1em;
}

.search-btn {
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: #00da62;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #008c40;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-top, .header-main, .actions {
        flex-direction: column;
        text-align: center;
    }

    .main-nav a {
        margin: 5px;
        display: block;
    }

    .header-main {
        gap: 20px;
    }

    .actions {
        gap: 20px;
    }

    .card {
        margin-bottom: 20px;
    }
}