
footer  {
    background-color: #21409A;
    padding: 10px 5%;
    color: white;
}
footer a  {
    color: white;
}
footer a:hover {
    color: white;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.footer-logo{
    display: flex;
    height: 50px;
}

.footer-bottom {
    margin-left: 10%;
    text-align: center;
}
